/* styles */
/* called by your view template */


.AnsHolder {
  display: inline-flex;
}

.EmptyChoice{
  display: none;
}












* {
  box-sizing: border-box;
}

label{
  font-size: 18px;
}

.container{
  padding:1em;
  padding-left: 2em;
}



body {
  font-family: helvetica, arial, sans-serif;
  margin:15px;
}

h1 {
  font-weight: bold;
  font-size: 48px;
  color: White;
  margin-bottom: 0;
}

.btn {
  margin-top: 1em;
  padding: 50%;
  display:block;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid red;
  padding: 1em;
  background-color: #35C6F4;
  color:White;
}

#StartLabel{
  margin-top: 1em;
}

header {
  margin-bottom: 2em;
  padding: 1em;
  padding-top: 0.5em;
  background-color:  #35C6F4;
  border: 1px solid black;
  border-width:7px;
  border-radius: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

footer > a {
  color: #BBBBBB;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.gallery-card {
  position: relative;
  min-height: 160px;
  width: 200px;

  border: 1px solid #35C6F4;
  border-width: 6px;
  border-radius: 5px;
  padding-left: 1em;
  padding-bottom: 1em;
}

#Form1{

}

.doubleBorder{
  border: 1px solid #D81F27;
  border-width:7px;
  border-radius: 5px;
}

.gallery-card img {
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 100%;
}

.gallery-card2 {
  position: relative;

  border: 1px solid #777;
  border-radius: 5px;
  padding: 0.5em;
  margin-left: 1em;
  margin-bottom: 1em;
}

#QuestionBanner{
  background-color: red
}

#FormContainer{
  background-color: yellow
}

.prevent-click{
  pointer-events: none;
  opacity: 0.5;
}

.clickable{
  pointer-events:all;
}

#WhichExam{
  margin-bottom: 3px;
  padding-left: 2em;
  padding-top: 1em;
}

#StudentName{
  margin-bottom: 3px;
  padding-left: 2em;
}
/*
#section1{
  background-color: red;
}

#section2{
  background-color: yellow;
}

#section3{
  background-color: pink;
}

#section4{
  background-color: orange;
}*/

#essay{
  height: 200px;
}

#confirm{
  bottom: 0;
  /*margin-bottom: 1em;*/
  margin-top: 1em;
  border-radius: 0.5em;
  border-color: black;
  border-width: medium;
  height: 30px;
  width:70px;
  outline: none;
  cursor:pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#confirm:hover{
  background-color: #35C6F4;
  color:white;
}

#TimerVisibility{
  border-radius: 0.5em;
  border-color: black;
  margin-top: 1em;
  border-width: medium;
  height: 30px;
  outline: none;
  cursor:pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#TimerVisibility:hover{
  background-color: #35C6F4;
  color:white;
}

#Sub{
  border-radius: 0.5em;
  border-color: purple;
  border-width: medium;
  height: 30px;
  width:70px;
  outline: none;
  cursor:pointer;
}

#timeStarter{
  border-radius: 0.5em;
  border-color: purple;
  margin-bottom: 1em;
  cursor:pointer;
  border-width: medium;
  height: 30px;
  width:70px;
  outline: none;
  cursor:pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
#timeStarter:hover{
  background-color: purple;
  color:white;
}

#TimerArea{
}

#demo{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
  border-width: medium;
  border-color: black;
}

#demo > div{
	padding: 10px;
	border-radius: 3px;
	background: #B0B0B0;
	display: inline-block;
  border-color: #707070;
  border-width:thick;
  border-style: solid;
}

#demo div > span{
	padding: 15px;
	border-radius: 3px;
	background: #787878;
	display: inline-block;
  border-width: medium;
  border-style: solid;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
  color: black;
}

.withBottomMargin{
  margin-bottom: 25px;
}

.withRightMargin{
  margin-right: 20px;
}

.SectionTitle{
  font-size: 30px;
}

.question{
}

.detector{
  background-color: blue;
}
.detectorCol{
  background-color: purple;
}

.DisplaySpace{
  border-width: medium;
  border-color: black;
  border-style: solid;
  font-size: 17px;
  background-color: white;
  min-height: 30px;
}

input{
  margin:0;
}
input:focus{
  outline:none;
}



@media (max-width: 480px) {
   .question{
      min-width: 300px;
  }
}

.row:before, .row:after {
    display: none !important;
}




input[class='NoneC'] {
  -webkit-appearance:none;
  width:15px;
  height:15px;
  border:1px solid darkgray;
  border-radius:50%;
}

input[class='NoneC']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;
  border-radius:50%;
}
input[class='NoneC']:checked:before {
  background:fuchsia;
}
input:focus{
    outline: none;
}

input[class='NoneC']:focus{
  outline:none;
}
